Repository yu-iskw/dbt: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

Tweak release for unused fields (#12209)
  .github/workflows/release.yml
Due: none

fix flaky invocation context + warn error settings in parser unit tests (#12256)
  tests/unit/parser/test_parser.py
Due: isort, black, flake8

fix target file for dbt-common CI (#12258)
  scripts/update_dev_packages.sh
Due: none

add compile test for batch context vars (#12261)
  tests/functional/microbatch/test_microbatch.py
Due: isort, black, flake8

Ensure all recent deprecation warnings include the name in the message (#12265)
  .changes/unreleased/Fixes-20251209-175031.yaml
  core/dbt/events/types.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

cleanup stale test migration docs (#12274)
  ARCHITECTURE.md
  tests/CONVERTING.md
Due: none

Reorganize docs/arch (#12270)
  ARCHITECTURE.md
  core/README.md
  docs/arch/README.md
  docs/arch/adr-001-perf-testing.md
  docs/arch/adr-002-structured-logging-arch.md
  docs/arch/adr-004-python-model-arch.md
  docs/arch/adr-005-betterproto.md
  docs/arch/versioning-branching-strategy.md
  docs/images/dbt-arch.png
  docs/images/dbt-core.svg
  docs/images/dbt-dag.png
  docs/images/dbt-transform.png
Due: none

move custom-hooks to scripts
  .pre-commit-config.yaml
  scripts/pre-commit-hooks/no_versioned_artifact_resource_imports.py
Due: isort, black, flake8

remove snowplow telemetry schemas for < 0.11.0 versions (#12279)
  events/README.md
  events/schemas/com.fishtownanalytics/invocation_env_context.json
  events/schemas/com.fishtownanalytics/invocation_event.json
  events/schemas/com.fishtownanalytics/platform_context.json
  events/schemas/com.fishtownanalytics/run_model_context.json
Due: none

delete deprecated create_adapter_plugins script (#12280)
  core/scripts/create_adapter_plugins.py
Due: isort, black, flake8

Update schema file order test (#12061)
  .changes/unreleased/Under the Hood-20250929-151159.yaml
  tests/functional/partial_parsing/test_pp_schema_file_order.py
Due: isort, black, flake8

use post instead of dev (#12300)
  .github/workflows/nightly-release.yml
Due: none

leading date to remove leading zeros (#12325)
  .github/workflows/nightly-release.yml
Due: none

Upgrading dbt-semantic-interfaces to 0.10.x (#12296)
  .changes/unreleased/Dependencies-20251217-151349.yaml
  core/pyproject.toml
Due: none

Handle `ValidationFutureErrors` produced during DSI semantic manifest validation (#12346)
  .changes/unreleased/Dependencies-20260113-135442.yaml
  .changes/unreleased/Dependencies-20260113-143057.yaml
  .changes/unreleased/Fixes-20260113-161742.yaml
  core/dbt/contracts/graph/semantic_manifest.py
  core/dbt/deprecations.py
  core/dbt/events/types.py
  core/pyproject.toml
  tests/unit/contracts/graph/test_semantic_manifest.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

fix TestEnvironmentVariableNamespaceDeprecation (#12354)
  tests/functional/deprecations/test_deprecations.py
Due: isort, black, flake8

Fire deprecation warning when generate_schema_name returns null, validate behind behavior flag require_valid_schema_from_generate_schema_name (#12348)
  .changes/unreleased/Features-20260115-131115.yaml
  core/dbt/contracts/project.py
  core/dbt/deprecations.py
  core/dbt/events/types.py
  core/dbt/parser/base.py
  core/pyproject.toml
  tests/functional/custom_schemas/test_custom_schemas.py
  tests/functional/deprecations/fixtures.py
  tests/functional/deprecations/test_deprecations.py
  tests/unit/test_events.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
