Repository yu-iskw/dbt: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

isort:
  name: isort
  entry: python -m isort
  language: system

black:
  name: black
  entry: python -m black
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  args:
  - --show-error-codes
  language: system

no_versioned_artifact_resource_imports:
  name: no_versioned_artifact_resource_imports
  entry: python custom-hooks/no_versioned_artifact_resource_imports.py
  language: system
  pass_filenames: true

remove unreferenced png (#12141)
  core/etc/dag.png
Due: none

Move from setup.py to pyproject.toml (#12129)
  .bumpversion.cfg
  .changes/unreleased/Under the Hood-20251029-133450.yaml
  ARCHITECTURE.md
  core/dbt/version.py
  core/pyproject.toml
  core/setup.py
  pyproject.toml
  scripts/build-dist.sh
  scripts/update_dev_packages.sh
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

support DBT_ENGINE prefix for DBT_RECORDER env vars (#12149)
  .changes/unreleased/Under the Hood-20251105-165014.yaml
  core/dbt/cli/requires.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Properly propagate config for metric when created from measure (#12135)
  .changes/unreleased/Under the Hood-20251103-005311.yaml
  core/dbt/parser/schema_yaml_readers.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Stop compiling Python UDFs like they're Python Models (#12154)
  .changes/unreleased/Fixes-20251106-163514.yaml
  core/dbt/compilation.py
  tests/functional/functions/test_udfs.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Stop allowing hyphens in metric names and add name validation tests (#12158)
  .changes/unreleased/Fixes-20251107-160515.yaml
  core/dbt/contracts/graph/unparsed.py
  tests/unit/contracts/graph/test_unparsed.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Pin GitHub Actions to specific SHAs (53 actions in 11 files) (#12133)
  .github/workflows/artifact-reviews.yml
  .github/workflows/backport.yml
  .github/workflows/bot-changelog.yml
  .github/workflows/check-artifact-changes.yml
  .github/workflows/main.yml
  .github/workflows/model_performance.yml
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
  .github/workflows/schema-check.yml
  .github/workflows/structured-logging-schema-check.yml
  .github/workflows/test-repeater.yml
Due: none

Add test coverage for SL metric parsing (#12169)
  core/dbt/parser/manifest.py
  tests/functional/semantic_models/fixtures.py
  tests/functional/semantic_models/test_semantic_model_parsing.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

move full workflow into core since no one else uses it (#12178)
  .github/workflows/cut-release-branch.yml
Due: none

Prevent applying the "community" label to bot PRs (#11912) (#12173)
  .github/workflows/community-label.yml
Due: none

Use EventCatcher from dbt-common (#12177)
  .changes/unreleased/Dependencies-20251118-155354.yaml
  tests/functional/artifacts/test_artifacts.py
  tests/functional/cli/test_requires.py
  tests/functional/configs/test_warn_error_options.py
  tests/functional/deprecations/test_deprecations.py
  tests/functional/list/test_commands.py
  tests/functional/macros/test_macro_annotations.py
  tests/functional/manifest_validations/test_check_for_spaces_in_model_names.py
  tests/functional/microbatch/test_microbatch.py
  tests/functional/sample_mode/test_sample_mode.py
  tests/functional/test_project.py
  tests/unit/config/test_project.py
  tests/unit/config/test_runtime.py
  tests/unit/events/test_logging.py
  tests/unit/parser/test_manifest.py
  tests/unit/parser/test_unit_tests.py
  tests/unit/task/test_run.py
  tests/unit/test_deprecations.py
  tests/unit/test_env_vars.py
  tests/unit/test_jsonschemas.py
  tests/utils.py
Due: isort, black, flake8

Add test for unit testing model that depends on input model with alias (#12217)
  tests/functional/unit_testing/test_ut_aliases.py
Due: isort, black, flake8

fix local test failure (#12228)
  tests/functional/snapshots/test_hard_delete_snapshot.py
Due: isort, black, flake8

Revert "optimize name matches"
  core/dbt/task/deps.py
  tests/unit/deps/test_deps.py
Due: isort, black, flake8, mypy, no_versioned_artifact_resource_imports

Revert "changelog"
  .changes/unreleased/Fixes-20251128-163144.yaml
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  black: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  flake8: any of: \.py$, but not: ^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py)
  mypy: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
  no_versioned_artifact_resource_imports: any of: ^core/dbt/ and \.py$ and not (^(core/dbt/docs/build/|core/dbt/common/events/types_pb2.py|core/dbt/adapters/events/adapter_types_pb2.py))
